#vwSubmit{
  margin-top: 3%;
}
#nb, #labeleen{
  font-size: 10px;
}
/*#labeleen{
  font-size: 10px;
}*/
#labeleen input{
  margin-left: 2%;
}
label{
  font-weight: 100;
}
legend{
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 3%
}
form {width: 80%;}
